
*{
    user-select: none;
}


.imagePerfil{
    width: 15vw;
    height: 15vw;
    display: flex;
    border-radius: 100%;
    border: #ccc solid 5px;
    contain: content;
    align-items: center;
    justify-content: center;

}

