<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Boletos</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/boleto.css}" />
    <link rel="stylesheet" th:href="@{/css/geral.css}" />
    <link rel="stylesheet" th:href="@{/css/paginaPrincipal.css}" />
  </head>

  <body>
    <div th:insert="~{/geral :: barraSuperior}"></div>
    <div class="container">
      <!-- Card para Lista de Boletos -->
      <div class="card">
        <div class="card-header">Lista de Boletos</div>
        <div class="card-body">
          <!-- Tabela de boletos -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Valor (R$)</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="boleto : ${boletos}">
                <td th:text="${boleto.id}" th:value="${boleto.id}">
                  123456789
                </td>
                <td th:text="${boleto.valor}">100,00</td>
                <td>
                  <span
                    th:classappend="${boleto.pago} ? 'status-pago' : 'status-pendente'"
                    th:text="${boleto.pago} ? 'Pago' : 'Pendente'"
                    >Pendente</span
                  >
                </td>
                <td class="table-actions">
                  <button
                    class="btn-copy"
                    id="copy"
                    th:value="${boleto.id}"
                  >
                    Copiar
                  </button>
                  <form
                    th:action="@{/boletos/deletar/{id}(id=${boleto.id})}"
                    method="post"
                  >
                    <button type="submit" class="btn-delete" id="delete">
                      Deletar
                    </button>
                  </form>
                </td>
              </tr>
              <tr th:if="${#lists.isEmpty(boletos)}">
                <td colspan="4" class="text-center">
                  Nenhum boleto cadastrado.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Card para Criar Novo Boleto -->
      <div class="card mt-4">
        <div class="card-header text-center">Criar Novo Boleto</div>
        <div class="card-body">
          <form id="formCriarBoleto" th:action="@{/boletos/novo}" method="POST">
            <div class="form-group">
              <label for="valor">Valor</label>
              <input
                type="number"
                id="valor"
                name="valor"
                class="form-control"
                required
                step="0.01"
                placeholder="Valor do boleto"
              />
            </div>
            <input type="hidden" id="idCliente" name="idCliente" />
            <div class="form-group mt-3">
              <button type="submit" class="btn btn-primary">
                Criar Boleto
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/boleto.js}"></script>
    <div th:insert="~{/geral :: jsDependencie}"></div>
  </body>
</html>
