<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal</title>
    <div th:insert="~{/geral :: cssDependencie}"></div>
    <link rel="stylesheet" th:href="@{/css/perfil.css}" />
  </head>
  <body>
    <div th:insert="~{/geral :: barraSuperior}"></div>

    <!-- Container principal -->
    <div class="container mt-5">
      <div class="row">
        <!-- Foto de perfil -->
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="imagePerfil mb-4">
            <img
              id="perfilImage"
              src="/images/image.png"
              alt="foto de perfil"
              class="img-fluid rounded-circle"
              style="max-width: 200px"
            />
          </div>
        </div>

        <!-- Formulário de perfil -->
        <div class="col-md-8">
          <div class="card p-4 shadow-sm">
            <h2 class="text-center mb-4">Meu Perfil</h2>
            <form id="perfilForm">
              <div class="mb-3">
                <label for="numeroConta" class="form-label"
                  >Código da Conta</label
                >
                <p id="numeroConta" class="form-control-plaintext">
                  1234567890
                </p>
              </div>

              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input
                  type="text"
                  name="nome"
                  id="nome"
                  class="form-control"
                  placeholder="Seu nome"
                />
              </div>

              <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input
                  type="text"
                  name="cpf"
                  id="cpf"
                  class="form-control"
                  placeholder="Seu CPF"
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="form-control"
                  placeholder="Seu email"
                />
              </div>

              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <div class="input-group">
                  <input
                    type="password"
                    name="senha"
                    id="senha"
                    class="form-control"
                    placeholder="Sua senha"
                  />
                  <span
                    class="input-group-text"
                    id="eye-icon"
                    style="cursor: pointer"
                  >
                    👁️
                  </span>
                </div>
              </div>

              <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input
                  type="tel"
                  name="telefone"
                  id="telefone"
                  class="form-control"
                  placeholder="Seu telefone"
                />
              </div>

              <div class="mb-3">
                <label for="saldo" class="form-label"></label>
                <p id="saldo" th:class="saldo" class="form-control-plaintext">R$ 0,00</p>
              </div>

              <!-- Opções de Chave Pix -->
              <div class="mb-3">
                <label for="chavesPix" class="form-label"
                  >Escolha sua Chave Pix</label
                ><br />
                <input
                  type="checkbox"
                  id="chaveCpf"
                  value="cpf"
                  th:checked="${cpfMarcado}"
                />
                CPF<br />
                <input
                  type="checkbox"
                  id="chaveEmail"
                  value="email"
                  th:checked="${emailMarcado}"
                />
                E-mail<br />
                <input
                  type="checkbox"
                  id="chaveTelefone"
                  value="telefone"
                  th:checked="${telefoneMarcado}"
                />
                Telefone
              </div>

              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">
                  Atualizar Perfil
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/meuPerfil.js}"></script>
    <div th:insert="~{/geral :: jsDependencie}"></div>
  </body>
</html>
