<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <div th:insert="~{/geral :: cssDependencie}"></div>
    <link rel="stylesheet" th:href="@{/css/perfil.css}">

</head>

<body>

    <div th:insert="~{/geral :: barraSuperior}"></div>

    <div class="containerPerfil">
        



    </div>

    <div th:insert="~{/geral :: jsDependencie}"></div>

</body>

</html>